@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --background: #080808;
   --foreground: #ffffff;
   --primary: #818cf8;
}
body {
   color: var(--foreground);
   background: var(--background);
}

@layer base {
   .body {
      @apply font-poppins;
   }
}
@layer components {
   .blob {
      background: conic-gradient(
         from 2.35rad,
         rgba(49, 123, 249, 0.5),
         rgba(224, 24, 228, 0.5)
      );
   }
}
@layer utilities {
   .desc {
      @apply text-base md:text-lg tracking-wide leading-relaxed text-white/50;
   }
   .border-left {
      @apply bg-white/20 w-[1px] h-full absolute top-0 lg:left-8 xl:left-10 hidden md:block;
   }
   .border-right {
      @apply bg-white/20 w-[1px] h-full absolute top-0 lg:right-8 xl:right-10 hidden md:block;
   }
   .border-top {
      @apply bg-white/20  h-[1px] absolute top-0 lg:right-8 lg:left-8 xl:left-10 xl:right-10 hidden md:block;
   }
   .border-bottom {
      @apply bg-white/20  h-[1px] absolute bottom-0 lg:right-8 lg:left-8 xl:left-10 xl:right-10 hidden md:block;
   }
}
